<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            {{ title }} - Microblog
        {% else %}
            Welcome to Microblog
        {% endif %}
    </title>
</head>
<body>
    <!-- Navigation Bar -->
    <div>
        Microblog : 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('explore') }}">Explore</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user',username = current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>

    <!-- Flash messages -->
    {% with flashed_messages = get_flashed_messages() %}
        {% if flashed_messages %}
            <ul>
                {% for message in flashed_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Content -->
    {% block content %}
    {% endblock %}
</body>
</html>
