{% extends "base.html" %}

{% block content %}

<h1>Reset Your Password</h1>
<form action="" method="post">
	{{ form.hidden_tag() }}
	<div>
		<div>
		<p>{{ form.password.label }}</p>
		{{ form.password }}

		{% for error in form.password.errors %}
		<span style="color:red;">{{ error }}</span>
		{% endfor %}
		</div>

		<div>
		<p>{{ form.password2.label }}</p>
		{{ form.password2 }}
		{% for error in form.password2.errors %}
		<span style="color:red;">{{ error }}</span>
		{% endfor %}
		</div>
	</div>
	{{ form.submit() }}
</form>

{% endblock %}
